*{
    margin: 0;
    padding: 0;
}

body{
background-color: rgb(194, 191, 180); ;

}

.ya{
    width:1100px;
    height:700px;
    border-width:5px;
    border-style:solid;
    border-color: black;
    margin-top:7px;
    margin-left:200px ;
    border-radius:20%;

}

.tr1{
    margin-top:100px;
    margin-left:50px;
}


.t1{
font-size: larger;
}

.t2{
    width:300px;
    height:50px;
    padding:12px;
  
}

.button1{
color: rgb(244, 240, 237);
background-color: black;
width:150px ;
height:30px;
margin-left:500px;
margin-top: 100px;
border-radius:10PX;
}

.button1 :hover{
    transform: scale(1.1);
}