*{
    margin: 0;
    padding:0;
}
.d{
width:1520px ;
height:730px;
background-color: rgb(194, 191, 180);
}

.d1{
    width:350px ;
    height:350px;
    display: inline-block;
    margin-left:20px;
    margin-top:130px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    border-radius: 40%;
}

.d1 :hover{
   transform: scale(1.1);
}

.d1 img{
    width:100% ;
    height:100% ;
    border-radius:40%;
    
}
.bo{
    width:180px;
    height:25px ;
   color:rgb(192, 190, 190);
   background-color: dimgray;
   margin-left:650px;
   margin-top:100px ;
}