*{
  margin:0;
  padding:0;
}
.ta{
 width:800px;
 height:900px;
 

}


.d1{
 width:700px;
 height:400px;
 margin-left:40px ;
 margin-top: -160px;


}

.d1 :hover{
   transform: scale(1.1);
}


.d1 img {
 width:100%;
 height:100%;
 border-radius: 10PX;
border-width: 2px;
border-style: solid;
border-color:black;
border-radius:10px;
}

.d2{
 width:700px;
 height:400px;
 margin-top: -160px;
 margin-left: 40px;


}

.d2 :hover{
   transform: scale(1.1);
}


.d2 img{
 width:700px;
 height:400px;
 border-radius:10px;
border-width: 2px;
border-style: solid;
border-color:black;
border-radius:10px;

}


.he{
 margin-top:10px;
 margin-left:60px;

}

.ta1{

margin-left:80px
}
.IM1{
    width:30px;
 height:30px;
    
}

.bo{
  color: azure;
  background-color:black;
  width:500px;
  height:30px;
  border-radius: 10px;
  margin-top:40px;
  margin-left:150px;
  font-size: larger;
}